
// Variables

$colorPrincipal: #FF6600;
$colorWhite: #f5f5f5;
$fontPrincipal: Verdana, Geneva, Tahoma, sans-serif;
// $fontZise: clamp(.6rem, 4vw, 1rem);
$fontZise: clamp(1rem, 6vw, 1.4rem);

// Mixins


@mixin img100px{
    // width: 100px; 2do cambio
    width: 200px;
}

@mixin flex{
    display: flex;
    align-items: center;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

@mixin imgBanner{
    background-size: cover;
    background-position-y: 30%;
    background-position-x: center;
    align-content: center;
}

@mixin shadowCOntainer($blur, $shadow, $bgColor){
    box-shadow: -15px -1px $blur -15px $shadow;
    padding: 10px;
    background-color: $bgColor;
}


// Extend's

%article{
    // border: 1px $colorPrincipal solid; 3er cambio
    border: 1px #000 solid
    
}

%h3{
    font-size: .75rem;
    font-weight: 600;
}

%img{
    width: 100%;
}

// Codigo SASS

*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;

}

body{
    font-family: $fontPrincipal;


    header{
        @include width100;
        background-color: $colorPrincipal;
    
        .header__menu{
            @include flex;
            justify-content: space-between;
            padding: 20px;  
            
        }
        .header__menu--menulogo,
        .header__menu--logojust,
        .header__menu--logoNike{
            @include img100px;
        }
        
    }

    main{
        @include width100;

        .main__banner{
            background-image: url(../img/bannerNike.jpg);
            @include imgBanner;
            // @include flex;
            height: 400px;
            background-size: cover;

            .main__banner--texto{
                // font-size: $fontZise;
                text-align: center;
            }
            
        }

        .main__productos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            width: 80%;
            margin: 30px auto 0;


            article{
                @include flex;
                flex-direction: column;
                gap: 10px;
                
                // @extend %h3;
                @extend %article;
                
                .main__productos--img{
                    
                    @extend %img;
                }
    
                .main__productos--title{
                    @extend %h3;
                }
    
                .main__productos--precio{
                    font-size: .8rem;
                    font-weight: 600;
                }
            }
            
        }

        .main__cart{
            width: 500px;
            background-color: $colorWhite;
            padding: 25px;
            height: auto;
            box-sizing: border-box;
            position: fixed;
            right: 0;
            @include shadowCOntainer(22px, rgba(0, 0, 0, 0.3), $colorWhite);
            top: 100px;
            text-align: center;
            justify-content: center;

            .main__cart--title{
            font-size: $fontZise;
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 2px solid $colorPrincipal;
            }

            .cart__container{
                @include flex;
                justify-content: space-between;

                .cart__container--img{
                    width: 50px;
                }

                .cart__container--p1{
                    width: auto;
                    align-content: center;
                }

                .cart__container--borrar{
                    width: 40px;
                    align-content: center;
                }

                .cart__container--borrar:hover{
                    
                    opacity: .6;
                    cursor: pointer;
                }

            }

        }

    }


}

@media (max-width: 820px) {
    body{
        header{
            padding: 15px;
        
        }
        
        main{
            .main__productos {
                grid-template-columns: repeat(auto-fill), minmax(200px, 1fr);
            }
        
            .main__cart{
                width: 400px;
                top: 80px;
            }

        }

    }

}

@media (max-width: 480px) {

    body{

        header{
            .header__menu--menulogo,
            .header__menu--logojust,
            .header__menu--logoNike{
                width: 80px;
            }

        }

        main{

            .main__banner{
                padding: 30px 0;
            }
            
            .main__banner h2 {
                font-size: 20px;
            }
            
            .main__banner p{
                font-size: 16px;
            }
            
            .main__productos{
                grid-template-columns: 1fr;
                padding: 10px;
                border-color: 1px #FF6600 solid;
            }
    
            .main__productos--img {
                width: 100%;
                max-width: 200px;
                margin-bottom: 10px;
                
            }
            
            .main__productos h3, .main__productos p{
                padding: 0, 12px;
            }
            
            .main__cart {
                
                width: 100%;
                
                padding: 25px;
                height: auto;
                box-sizing: border-box;
                position: unset;
                right: 0;
                top: 300px;
                text-align: center;
                
            }
            
            .main__cart h2 {
                padding: 15px 0;
            }
            
            .main__cart div{
                flex-direction: column;
                align-items: center;
                gap: 5px 0;
            }
            
            .main__cart--img{
                width: 100px;
            }
        }
    }
}
